
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    align-items: center;
    margin-top: 80px;
}

h1 {
    color: #333;
    text-align: center;
}

.student {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: center;
}

.student img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.student h2 {
    color: #337ab7;
}
